@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// FONT FAMILY
$PrimaryFont: "Jost", sans-serif;
$SerifFont: "Poppins", sans-serif;
$CodeFont: "Poppins", sans-serif;

// COLORS
$color-dark: #121313;
$color-darker: #1e2022;
$color-darker-hover: #272a2c;
$color-white: #f4f4f4;
$color-blue: #0c2647;
$color-light-grey: #999;
$color-dark-grey: #555;


// FONT SIZES
$default-font-size: 1rem;

// GRID
$grid-width: 114rem; // 1140px standard width
$gutter-vertical: 4rem; // 40px Gutter Y
$gutter-vertical-small: 3rem; // 30px Gutter Y
$gutter-horizontal: 2rem; // 20px Gutter X

// MEDIA QUERIES
$tab-land: 1200px;
$tab-port: 900px;
$phone: 600px;

// BACKGROUND COLORS
$background-light-grey: #f1f5f9;
